.banner{
    width: 100%;
    height: 717px;
    position: relative;

        &-pict{
            position: relative;
            &__img-banner{
                position: absolute;
                z-index: -1;

                &-min{
                display: none; 
                }
            }
        }
    &-box{
        padding-top: 140px;
        padding-left: 16px;

        &__title{
            width: 285px;
            color: $main_color;
            font-size: 28px;
            font-family: "Playfair Display", sans-serif;
            font-size: 28px;
            font-style: normal;
            font-weight: 400;
            line-height: 42px; 
            text-transform: uppercase;
            margin-bottom: 14px;
        }

        &__subtitle{
            width: 343px;
            color: $main_color;
            font-size: 16px;
            @include text;
            margin-bottom: 21px;
        }

        &__button{
            @extend %bth;
            @include text;

            color: $white;
        }
    }
}

@media (min-width: $table){
.banner{
    height: 860px;
    &-box{
        padding-top: 0;
        padding-left: 0;
        &__title{
            width: 648px;
            font-size: 50px;
            line-height: 75px;
            margin-bottom: 410px;
        }

        &__subtitle{
            width: 312px;
            margin-bottom: 41px;
        }
    }
}
}

@media (min-width: $desktop){
.banner{
    height: 648px;

    &-pict{
        width: 1320px;
        display: flex;
        &__img-banner{

            &-min{
                z-index: -1;
                display: flex; 
                align-items: flex-end;
                position: absolute;
                right: 0;
            }
        }
    }
    &-box{
        padding: 0;
        &__title{
            width: 648px;            
            font-size: 50px;
            line-height: 75px;
            margin-top: 0;
            margin-bottom: 235px;
        }

        &__subtitle{
            width: 312px;
            margin-bottom: 41px;
            margin-left: 1011px;
        }

        &__button{
            margin-left: 1011px;
        }
    }
}
}
