// mobile
.container{
    width: 100%;
    margin-left: 16px;
    margin-right: 16px;
}

// table
@media (min-width: $table){
    .container{
        margin-left: 32px;
        margin-right: 32px;
    }
}

// desktop
@media (max-width: $desktop){
    .container{
        width: 1020px;
        margin-left: auto;
        margin-right: auto;

        &-large{
            width: 1096px;
        }
    }
}