// mobile
.container{
    width: 100%;
    overflow-x: hidden;
    margin-left: 16px;
    margin-right: 16px;
    margin: 0 auto;
}

// table
@media (min-width: $tablet){
    .container{
        padding-left: 32px;
        padding-right: 32px;
    }
}

// desktop
@media (min-width: $desktop){
    .container{
        width: 1096px;
        padding-left: 0;
        padding-right: 0;

        &-large{
            width: 1320px;
        }
    }
}