.footer {
    background: $main_color;
    padding-top: 48px;
    padding-left: 60px;
    width: 100%;

    &__upper-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 500px;
    }

    &__middle-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 920px;

        &__item {
            color: $white;
            font-family: "Roboto", sans-serif;
            font-size: 19px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.19px;
        }
    }

    &__lower-section {
        display: flex;

        &__item {
            color: $white;
            font-family: "Roboto", sans-serif;
            font-size: 19px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: 0.19px;
        }
    }

    &__list {
        display: flex;
        list-style: none;

        &__item {
            color: $white;
            @include text;
            padding-right: 30px;
        }
    }
}

@media screen and (max-width: 1140px) {

}

@media screen and (max-width: 768px) {
    .footer__list {
        flex-direction: column;
    }

    // .footer__middle-section
    // .footer__lower-section {
    //     display: flex;
    // }
}

@media screen and (max-width: 480px) {

}