.header {
    background: $bg_section;
    height: 95px;

    &__wrapper {
        display: flex;
        align-items: center;
    }

    &__list {
        padding-left: 972px;
        padding-top: 26px;

        &_menu {
            list-style: none;
            display: flex;
            justify-content: space-between
        }

        &-item {
            // @include text;
            // color: $main_color;
            // text-decoration: none;

            &_link {
                @include text;
                color: $main_color;
                text-decoration: none;
                padding-left: 30px;
            }
        }
    }
}