.header {
    background: $bg_section;
    height: 95px;

    &__wrapper {
        display: flex;
    }

    &__list {
        padding-left: 972px;
        padding-top: 26px;

        &_menu {
            list-style: none;
        }

        &-item {
            @include text;
            color: $main_color;
        }
    }
}