.newsletter{
    max-width: 100%;

    &__img-newsletter{
        width: 90%;
        height: auto;
    }

    &-description{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        &__title{
            @include title;
            text-align: center;
            color: $main_color;
            margin-bottom: 30px
        }

        &__subtitle{
            @include text;
            width:  100%;
            color: $main_color;
        }
    } 

    &-input{
        width: 100%;

        &__text{
            width: 80%;
            @include text;
            color: $gray;
            padding: 11px 20px;
            display: flex;
            align-items: center;

            border: 1px solid $gray_wh;
            margin-bottom: 20px;
            margin-left: 0;
        }
    }
    
    &-content{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        &__button{
            @extend %bth;
            @include text;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
            margin-top: 32px;
            margin-bottom: 30px;
        }

        &-box{
            display: flex;
            align-items: center;
            justify-content: flex-start;

            &__check-text{
                    @include text;
                    width: 100%;
                    margin-left: 0;
                    color: $gray;
                }
            }
        }
}

.email_error{
    position: relative;
    width: 100%;
}


.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: inline-block;
    margin-left: 5px;
}

.error-icon {
    color: red;
    display: none;
    position: absolute;
    top: 17px;
    right: 15%;
    margin-left: 5px;
    border: 1px solid red;
    width: 18px;
    height: 18px;
    border-radius: 50%; 
    text-align: center;
    line-height: 18px;
}

.error-icon::before {
    content: "!";
    font-size: 12px;
    font-weight: bold;
    color: red; 
}

@media (min-width: $tablet){
    .error-icon {
        right: 85px;
    }

    .newsletter{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &-description{
            width: 526px;
            display: flex;
            align-items: flex-start;

            &__title{
                text-align: start;
            }
        }   

    
        &-input__text{
            margin-left: 0;
        }
       
    
        &-content{
            width: 536px;

        }
    
        &__img-newsletter{
            width: 536px;
        }
    
    }
}


@media (min-width: $desktop){
    .error-icon {
        right: 35px;
    }

    .newsletter{
        height: 597px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        &-info{
            margin-right: 100px;
        }
    
        &-description{
            width: 526px;
            margin-left: 5px;
            display: flex;
            align-items: flex-start;

            &__title{
                text-align: start;
            }
        }   

    &-input{
        margin-left: 5px;

        &__text{
            width: 90%;
        }
    }   
    
        &-content{
            width: 536px;
        }
    
        &__img-newsletter{
            width: 460px;
        }
    
    }
}


.newsletter-content-box__checkbox[type="checkbox"] {
    display: none;
}

.newsletter-content-box__checkbox[type="checkbox"] + label {
    position: relative;
    padding-left: 30px; 
    cursor: pointer;
    display: inline-block;
}

.newsletter-content-box__checkbox[type="checkbox"] + label::before {
    content: "\2713";
    color: $white;
    padding-left: 5px;
    padding-bottom: 5px;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid $gray; 
    background-color: $white; 
}

.newsletter-content-box__checkbox[type="checkbox"]:checked + label::before {
    background-color: $main_color;
    border-color: $main_color;
  }
