.newsletter{
    width: 100%;
    height: 848px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__title{
            @include title;
            text-align: center;
            color: $main_color;
        }

        &__subtitle{
            @include text;
            width: 383px;
            color: $main_color;
        }
    }   

    &-input{
         width: 353px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__text{
            @include text;
            color: $gray;

            width: 90%;
            height: 50px;
            padding: 11px 20px;
            display: flex;
            align-items: center;

            border: 1px solid $gray;
            margin-bottom: 20px;
            margin-left: 15px;
        }
    }   

    &-content{
        width: 393px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;

        &-box{
            display: flex;
            align-items: center;
            justify-content: flex-start;

            &__check{
                width: 25px;
                height: 25px;

                border: 1px solid $gray;

                &-text{
                    @include text;
                    color: $gray;
                }
            }
        }

        &__button{
            @extend %bth;
            @include text;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $white;
            margin-top: 32px;
            margin-bottom: 30px;
        }
    }

    &__img-newsletter{
        width: 393px;
        height: auto;
    }

}

@media (min-width: $tablet){

    .newsletter{
        height: 1055px;
        
    
        &-description{
            width: 526px;
            display: flex;
            align-items: flex-start;
            margin-left: 7px;

            &__title{
                text-align: start;
            }
        }   

    &-input{
        width: 536px;

        &__text{
            width: 90%;
            margin-left: 0;
        }
    }   
    
        &-content{
            width: 536px;
        }
    
        &__img-newsletter{
            width: 536px;
        }
    
    }
}


@media (min-width: $desktop){

    .newsletter{
        height: 597px;
        display: flex;
        flex-direction: row;
        
        &-info{
            margin-right: 100px;
        }
    
        &-description{
            width: 526px;
            margin-left: 5px;
            display: flex;
            align-items: flex-start;

            &__title{
                text-align: start;
            }
        }   

    &-input{
        width: 536px;
        margin-left: 5px;

        &__text{
            width: 93%;
        }
    }   
    
        &-content{
            width: 536px;
        }
    
        &__img-newsletter{
            width: 460px;
            height: auto;
        }
    
    }
}