.our-products{
    width: 100%;

    &-site{
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title{
            @include title;
            color: $main_color;
            font-weight: bold;
        }
            &-box-content{
                &__img{
                    width: 343px;
                    height: 300px;
                    margin-left: 100px;
                }
            
                &__info{
                    width: 150px;
                    text-align: center;
                    position: absolute;
                    top: -40px;
                    left: 100px;
                    @include text;
                    color: $white ;
                    margin-top: 15px;
                }
            }
        }

        .carousel-inner{
            width: 500px;
        }
    }

    @media (max-width: $mobile) {
        
    }

    @media (min-width: $tablet) {
        
    
        .our-products-site-box-content__img{
            width: 344px;
            height: 300px;
            margin-right: 16px;
        }
    }

    @media (min-width: $desktop) {
       

        .our-products-site-box-content__img{
            width: 312px;
            height: 300px;
            margin-right: 20px;
        }
    }
