.our-products{
    width: 100%;
    

    &-site{
        display: flex;
        flex-direction: column;
        align-items: center;

        &__title{
            @include title;
            color: $main_color;
            font-weight: bold;
        }

        &__object{
            display: flex;
            justify-content: space-between;
        }
    
        
        &-box{    
            margin-right: 24px;

            &--invisible{
                display: none;
            }

            &--douinvisible{
                display: none;
            }


                &-content{
                    display: flex;
                    flex-direction: column;
                    
        
                    &__img{
                        width: 343px;
                        height: 300px;
                    }
            
                    &__info{
                        @include text;
                        color: $main_color;
                        margin-top: 15px;
                    }
                }
            }
    }
}

    @media (max-width: $mobile) {
        .our-products-site__object {
            .our-products-site-box--invisible,
            .our-products-site-box--douinvisible {
                display: none;
            }
        }
    }

    @media (min-width: $tablet) {
        .our-products-site__object {
            .our-products-site-box--invisible {
                display: block;
            }
            .our-products-site-box--douinvisible {
                display: none;
            }
        }
    
        .our-products-site-box-content__img{
            width: 344px;
            height: 300px;
            margin-right: 16px;
        }
    }

    @media (min-width: $desktop) {
        .our-products-site__object {
            .our-products-site-box--invisible,
            .our-products-site-box--douinvisible {
                display: block;
            }
        }

        .our-products-site-box-content__img{
            width: 312px;
            height: 300px;
            margin-right: 20px;
        }
    }
