@mixin text{
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
}

@mixin title{
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px; 
    text-transform: uppercase;
}

@mixin name_client{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px; 
    text-transform: uppercase;
}

@mixin footer_text{
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.19px;
}