%bth{
    display: flex;
    width: 224px;
    height: 50px;
    padding: 17px 65px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    flex-shrink: 0;
    background: var(--Blue-font, #0A224A);
}